/* Fichier CSS global */
BODY {
	color:#3d496f;
	margin:auto;
	width:800px;
	font-size:14px;
	font-family:Verdana;
}
.header_infos {
	font-size:12px;
}
.header_info_time {
	float:right;
}
.header_info_text {
	float:left;
}

.header_menu {
}
.header_menu DIV {
	text-align:center;
	margin-left:50px;
	margin-bottom:20px;
	width:700px;
	min-width:700px;
	border:solid 2px #3d496f;
}
.header_menu A {
	text-decoration:none;
	color:#3d496f;
}
.header_menu A:hover {
	font-weight:bold;
}

.titre_de_page {
	font-variant:small-caps;
	text-align:center;
	font-weight:bold;
}
.bottom_credits {
	border-top:solid 1px #3d496f;
	margin-top:10px;
	font-size:12px;
	text-align:center;
}
.bottom_credits A {
	text-decoration:none;
	color:#3d496f;
}
.bottom_credits A:hover { font-weight:bold; }

.formulaire_preinscription TH {
	text-align:right;
	font-family:Verdana;
	font-size:14px;
}
.formulaire_preinscription INPUT,SELECT {
	font-family:Verdana;
	font-size:14px;
	width:250px;
}

.menu_interieur {
	text-align:center;
	border:solid 1px #3d496f;
	margin-left:250px;
	width:300px;
	min-width:300px;
}
.menu_interieur A {
	text-decoration:none;
	color:#3d496f;
}
.menu_interieur A:hover {
	font-weight:bold;
}
