/* Fichier CSS global */
BODY {
	color:#3d496f;
	margin:auto;
	width:800px;
}
.header_infos {
	font-size:Small;
}
.header_info_time {
	float:right;
}
.header_info_text {
	float:left;
}

.header_menu {
}
.header_menu DIV {
	text-align:center;
	margin-left:50px;
	margin-bottom:20px;
	width:700px;
	min-width:700px;
	border:solid 2px #3d496f;
}
.header_menu A {
	text-decoration:none;
	color:#3d496f;
}
.header_menu A:hover {
	font-weight:bold;
}

.titre_de_page {
	font-variant:small-caps;
	text-align:center;
	font-weight:bold;
}
.bottom_credits {
	border-top:solid 1px #3d496f;
	margin-top:10px;
	font-size:Small;
	text-align:center;
}
